:root {
  --background-color: lightblue;
  --background-container: rgba(0, 0, 0, 0.2);
  --accent-color: #f4c2c2;
  --hover-color:#fadadd;
  --font-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--font-color);
  }
  

  /* Counter */
  .container {
    width: 90%;
    text-align: center;
    background-color: var(--background-container);
    border-radius: 33px;
    padding: 30px 0 30px;
    margin: 20px auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    font-size: 40px;
    font-weight: normal;
  }
  
  .counter {
    font-size: 40px;
    margin: 10px 0 25px;
  }
  
  /* Buttons */
  button {
    font-size: 18px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 400ms ease-in-out;
  }
  
  button:hover,
  button:active {
    background-color: var(--hover-color);
  }

  /* Media queries */

  /* Mobile */
  @media screen and (min-width: 415px) {
    .container {
      width: 80%;
    }
  }
  
  @media screen and (min-width: 576px) {
    .container {
      width: 70%;
    }
  
    h1,
    .counter {
      font-size: 55px;
    }
  
    button {
      font-size: 19px;
      padding: 14px 22px;
    }
  }
  
  /* Tablet */
  @media screen and (min-width: 768px) {
    .container {
      width: 60%;
    }
  
    .counter {
      margin: 15px 0 30px;
    }
  }
  
  /* Desktop */
  @media screen and (min-width: 922px) {
    .container {
      width: 50%;
      margin-top: 30px;
    }
  
    h1 {
      font-size: 58px;
    }
  
    .counter {
      font-size: 55px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 550px;
    }
  
    h1 {
      font-size: 60px;
    }
  
    .counter {
      font-size: 58px;
    }
  }